/* Enter your custom styles here */

.minpadding {
    padding: 0 0 0 3%;
}

.minpaddingLast {
    padding: 0 1% 0 1%;
}

html,
body {
    height: 100%;
}

.margintop {
    margin-top: 1.2rem;
}

.paddingAll {
    padding: 1%;
}


td[id*="ElementView--S"] {
    background-color: #f5f5f5 !important;
}
td[id*="ElementView--B"] {
    background-color: #ffdd00 !important;
}
td[id*="ElementView--P"] {
    background-color: #0088ff !important;
}
td[id*="ElementView--D"] {
    background-color: #ff9900 !important;
}
td[id*="ElementView--L"] {
    background-color: #73ff00 !important;
}
td[id*="ElementView--Q"] {
    background-color: #ff5100 !important;
}

.NoMargin {
    margin: 0rem;
}

